.isso {
    margin: 0 30px;
    position: relative;
    border: 1px solid #ddd;
    background: #f8f8f8;
    transition: all .2s ease-in;
}
#isso-thread {
    padding: 10px;
    margin: 0 15px;
}
#isso-thread > h4 {
    max-width: 68em;
    margin: 0.95em auto;
}

@media screen and (max-width: 800px) {
.isso {
    margin: 10px 0;
    border: 0;
    font-size: 16px;
    color: #555;
}
    }

.copyright {
    width: 85%;
    max-width: 45em;
    margin: 1.2em auto;
    padding: 0.5em 1.8em;
    border: 1px solid #d3d3d3;
    font-size: 0.93rem;
    line-height: 1.6em;
    word-break: break-all;
    background: rgba(255,255,255,0.4);
}